
# this is a bit of markdown to introduce the notebook
Below is some python code which will eventually be a neighborhood investigation using the Foursquare API.

## Part 1 - get data from wikipedia and wrangle data

In [12]:
# applied data sci cpastone notebook 
import pandas as pd
import numpy as np
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [13]:
# scrape wikipedia page for dataset
wiki_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

# use simple pandas method
df = pd.read_html(wiki_url)[0]
print(df.shape)
df.head()

(287, 3)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [14]:
# remove all boroughs not assigned, and adjust column name and reset the index
df = df[df.Borough != 'Not assigned']
print(df.head(10))

# if no neighborhood assigned, give it the borough as its neighborhood
print(df[df['Neighbourhood'] == 'Not assigned'].shape[0], ' rows have a neighborhood needing assigned')
      
df.rename(columns={"Postcode": "PostalCode", "Neighbourhood": "Neighborhood"}, inplace=True)
df.reset_index(inplace=True, drop=True)
df.head()

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A         Etobicoke  Islington Avenue
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North
0  rows have a neighborhood needing assigned

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M6A        North York    Lawrence Manor

### Please note: below code reflects the data CURRENTLY on wikipedia page. The assignment page on Coursera is out of date!

In [15]:
# we merge any rows in the same PostalCode and join up their Neighborhoods together.
df_unique_code = df.groupby(['PostalCode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
print(df_unique_code.head(), '\n\nand shape of this new dataframe is:')
df_unique_code.shape

# Uncomment below to verify answer:
#df.loc[df['PostalCode'] == 'M1C']

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

and shape of this new dataframe is:

(103, 3)

## Part 2 - merge in the lat and longs for each Postal Code with original neighborhood data, and preview the head of the new dataframe

In [16]:
csv_file = 'Geospatial_Coordinates.csv'
df_coords = pd.read_csv(csv_file)
print(df_coords.head())
print(df_coords.shape)

# rename the column so we can do a straight merge with our other data frame
df_coords.rename(columns={"Postal Code": "PostalCode"}, inplace=True)

# we need to merge this df on the Postal Code column
df_merged = pd.merge(df_unique_code, df_coords, on='PostalCode') 
''' 
# disabled as would not work reliably 

import geocoder 

# initialize your variable to None
latitudes = []
longitudes = []

def getLatLong(postal_code):
    lat_lng_coords = None

    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
        
    latitudes.append(lat_lng_coords[0]) 
    longitudes.append(lat_lng_coords[1]) 
        
getLatLong('M1B')
'''

print('dataframe shape with lat, longs and earlier data: ' , df_merged.shape, '\n\n')
df_merged.head(30)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
(103, 3)
dataframe shape with lat, longs and earlier data:  (103, 5)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.815252,-79.284577
15,M1W,Scarborough,L'Amoreaux West,43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,"Fairview, Henry Farm, Oriole",43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975
20,M2L,North York,"Silver Hills, York Mills",43.757490,-79.374714
21,M2M,North York,"Newtonbrook, Willowdale",43.789053,-79.408493
22,M2N,North York,Willowdale South,43.770120,-79.408493
23,M2P,North York,York Mills West,43.752758,-79.400049
24,M2R,North York,Willowdale West,43.782736,-79.442259
25,M3A,North York,Parkwoods,43.753259,-79.329656
26,M3B,North York,Don Mills North,43.745906,-79.352188
27,M3C,North York,"Flemingdon Park, Don Mills South",43.725900,-79.340923
28,M3H,North York,"Bathurst Manor, Downsview North, Wilson Heights",43.754328,-79.442259
29,M3J,North York,"Northwood Park, York University",43.767980,-79.487262